<mat-toolbar class="menu-container">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="" class="img">
    </div>

    <br>
    <br>
    <br>
    
    <div class="vertical-menu">
        <div class="box" style=" display: flex;   background-color: #e4e4e4;">
            <div class="liste-menu">
                <img src="../../../assets/aperçu-bleu-menu-icon.png" alt="" class="img-btn"> 
            </div>
            <div class="text-btn">
                Apercu
            </div>
        </div>
        
        
        <div class="box" style=" display: flex;   background-color: #e4e4e4;">
            <div class="liste-menu">
                <img src="../../../assets/ventes-gris-menu-icon.png" alt="" class="img-btn"> 
            </div>
            <div class="text-btn">
                Ventes
            </div>
        </div>

        <div class="box" style=" display: flex;   background-color: #e4e4e4;">
            <div class="liste-menu">
                <img src="../../../assets/analyses-gris-menu-icon.png" alt="" class="img-btn"> 
            </div>
            <div class="text-btn">
                Analyses
            </div>
        </div>
        
    </div>
     
</mat-toolbar>

