<div class="body">
    <div class="container-gauche">
        <app-menu-component></app-menu-component>
    </div>

    <div class="container-droit">
        <div class="profil-info">
            <div class="notif">
                <img src="../../../assets/notification-icon.png" alt="" class="img-notif">
            </div>
            &nbsp; &nbsp; 
            <div class="phot">
                <img src="../../../assets/avatar.png" alt="" class="img-notif">
            </div>
            &nbsp; &nbsp;
            <div class="info">
            <div class="info-user-top">Saint-Pierre KASSI</div>
            <div class="info-user-bottom">Ivoirien</div>
        </div>
        </div>
        
        <router-outlet></router-outlet>
    </div>
</div>